$cwhite: white;
$cblack: #3c3b3b;

body {
  font-family: serif;
}
//header
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  transition: all 0.5s ease;
  z-index: 999;
  background: white;
}

.hidden {
  transition: all 0.5s ease;
  padding-top: 30px;
}

.hidden a {
  color: black;
  border-left: solid 2px black;
  padding-left: 30px;
  &:hover {
    color: #a5a5a5;
    text-decoration: inherit;
    cursor: pointer;
  }
}

.Cafeppa_logo {
  width: 40px;
  height: 40px;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  list-style: none;
}

/* other - nav */

nav {
  height: 20px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 50px;
  margin: -20px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  // align-items: end;
  // justify-content: start;
  position: relative;
}

.first {
  position: absolute;
  left: 10px;
  top: 27px;
}

.secound {
  position: absolute;
  left: 85px;
  top: 35px;
}

.third {
  position: absolute;
  top: 35px;
  right: 20px;
}
nav a {
  color: white;
  text-decoration: none;
}

nav li {
  display: inline;
  margin-right: 30px;
}

nav .here {
  color: black;
  padding: 5px 10px;
  border-radius: 4px;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav ul:last-child {
  padding-left: 200px;
}

/* other */

// .header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 70px;
//   background: #555555;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   z-index: 999;
// }

.header__inner {
  width: 93%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__logo {
  flex: none;
  width: auto;
  height: 35px;
}
.header__navgroup {
  margin-left: auto;
  display: flex;
  flex: none;
  font-family: serif;
}
.header__navgroup > * + * {
  margin-left: 60px;
}
.header__navitem {
  font-size: 16px;
  color: #fff;
  &:hover {
    color: #a5a5a5;
    text-decoration: inherit;
    cursor: pointer;
    transition: 0.3s;
    // border-bottom: solid 3px white;
    // padding: 26px 0px;
  }
}

.header__navitem_top {
  @media (max-width: 768px) {
  }
}

.mainpage_inner {
  margin: 30px;
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }
}
.swiper-container {
  width: 100%;
}

.swiper-slide {
  img {
    width: 100%;
    height: auto;
  }
}
.circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: skyblue;
}
.menupage_bar {
  margin: 200px 0px 47px 0px;
  color: $cblack;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 33px;
}
// .menupage_logo {
//   font-size: 60px;
//   padding-bottom: 9px;
//   border-bottom: solid 3px $cblack;
// }
h2 {
  display: inline-block;
  position: relative;
}
h2:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  display: inline-block;
  width: 80px;
  height: 4px;
  border-radius: 5px;
  transform: translate(-50%);
  background-color: #3c3b3b;
}

.menupage_contents {
  margin-left: auto;
  margin-bottom: 300px;
}

.menupage_inner_left {
  width: 50%;
  display: none;
}

.menu-title {
  color: $cblack;
  border-bottom: solid 2px #dbdbdb;
  font-size: 44px;
  font-weight: bold;
  padding-bottom: 31px;
}
.menu_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 5px;
}
.product-hot {
  color: red;
}
.product-ice {
  color: blue;
}
.hero {
  &_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $cwhite;
    font-size: 38px;
    font-family: "Mshtakan";
  }
}

.menupage_inner {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.menupage_left {
  color: #212121;
  background-color: transparent;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 30;
  position: absolute;
  padding: 47px 0px;
}
.left-blank {
  width: 50%;
}
.menupage_right_img {
  padding: 47px 0px;
  z-index: 30;
  position: absolute;
  right: 180px;
  img {
    width: 415px;
  }
}

.menupage_left-title {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 39px;
}

.menupage_left-text {
  font-size: 20px;
  line-height: 1.8;
}

.gray {
  width: 75%;
  height: 425px;
  background-color: #abaaa8;
  margin-left: auto;
  margin-right: 105px;
  position: relative;
}

.see_more {
  position: absolute;
  z-index: 20;
  bottom: -610px;
  right: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 14px;
}
.see_more span {
  padding-right: 14px;
  height: 100%;
  font-size: 17px;
  font-family: sans-serif;
  color: #333;
  transition: all 0.3s;
}
.see_more p {
  margin: 0;
  transition: all 0.3s;
}

.img-info {
  position: absolute;
  left: 30px;
  bottom: 30px;
  background-color: #d22226;
  color: #fff;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.img-info--active {
  width: 380px;
  height: 180px;
  opacity: 1;

  .img-info__inner {
    opacity: 1;
    transition-delay: 500ms;
  }
}

.img-info__inner {
  position: relative;
  padding: 20px;
  opacity: 0;
}

.img-info__headline {
  font-size: 20px;
  font-weight: 500;
}

.img-info__text {
  font-size: 13px;
  padding-bottom: 40px;
}

.img-info__buy-btn {
  text-transform: uppercase;
  font-size: 10px;
  border-bottom: 1px solid #fff;
  padding-bottom: 4px;
}

.img-info__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
}

.controls {
  width: 100%;
  height: 267px;
  position: relative;
}

.controls_inner {
  padding: 0px 0px 20px;
}

.controls_inner_holder {
  width: 260px;
  height: 260px;
  background-color: white;
  background-image: url(https://static.pixlee.com/photos/299054731/medium/a587e354c11b3e3d308d.jpg);
  background-size: cover;
}
.controls-img {
  overflow: hidden;
  margin: 0 auto;
  width: calc(100% - 100px);
}

.controls_inner {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.controls_inner-link {
  background-position: center;
  flex-basis: 20%;
  height: 300px;
  display: block;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  min-width: 300px;

  img {
    width: 100%;
    height: 100%;
  }
}

// .controls_inner-link--girl img {
//   width: 100%;
//   height: 100%;
//   // background-image: url("https://static.pixlee.com/photos/299054731/medium/a587e354c11b3e3d308d.jpg");
// }

// .controls_inner-link--watch {
//   background-image: url("https://static.pixlee.com/photos/300843351/medium/061ba4e1d1f6342dc6d4.jpg");
// }

// .controls_inner-link--cover {
//   background-image: url("https://static.pixlee.com/photos/306957206/medium/637971b53b0a77120c16.jpg");
// }

// .controls_inner-link--dog {
//   background-image: url("https://static.pixlee.com/photos/302246968/medium/5afe4911c0eec2325eb9.jpg");
// }

// .controls_inner-link--tatto {
//   background-image: url("https://static.pixlee.com/photos/303353182/medium/untitled-_68-of-172_.jpg");
// }

// .controls_inner-link--coffee {
//   background-image: url("https://static.pixlee.com/photos/303081226/medium/4349aace4808013e0053.jpg");
// }

// .controls_inner-link--gold {
//   background-image: url("https://static.pixlee.com/photos/308161869/medium/48dc3d1336d1626fe4fe.jpg");
// }
.btn-next {
  font-size: 34px;
  position: absolute;
  right: 107px;
  top: 111px;
  color: #707070;
  height: 74px;
  width: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: $cwhite;
  width: 50px;
  height: 50px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: 0.4s;
  z-index: 100;
  &:hover {
    cursor: pointer;
    color: #696c6f;
    background-color: #f7f8f9;
  }
}

.btn-next :active {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
    0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #d8d8d8;
}

.btn-real-dent {
  /*周りの凹み*/
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: rgba(3, 169, 244, 0.54);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  background: #f7f7f7;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
}
.img1 {
  overflow: hidden;
  position: relative; /* 相対位置指定 */
}
.img1 .caption {
  font-size: 15px;
  text-align: inherit;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.caption p:last-child {
  margin-top: 90px;
}

.img1 .mask {
  width: 100%;
  height: 100%;
  position: absolute; /* 絶対位置指定 */
  top: 0;
  left: 0;
  opacity: 0; /* マスクを表示しない */
  background: #454545;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.img1:hover .mask {
  opacity: 1; /* マスクを表示する */
}

.top_foodmenu_inner {
  margin: 0px 30px;
  height: 500px;
  display: flex;
  flex-direction: row;
  margin-bottom: 300px;
}

.top_foodmenu_left {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 500px;
  position: relative;
}
.foodmenu_background {
  position: relative;
  width: 470px;
  height: 470px;
  background-color: #799c94;
}

.foodmenu_img {
  position: absolute;
  top: 50px;
  left: 200px;
}

.top_foodmenu_right {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 500px;
}

.menulist-listitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px #dbdbdb;
  border-top: solid 2px #dbdbdb;
  font-size: 30px;
  position: relative;
}
.menulist-img {
  width: 170px;
}
.menuList__txt {
  position: absolute;
  left: 35%;
  top: 5%;
  margin-left: 15px;
}

// .accordion_icon {
//   position: absolute;
//   width: 30px;
//   height: 40px;
//   top: -15px;
//   right: 10px;
//   border-bottom: solid 2px black;
// }

// .accordion_icon span {
//   width: 100%;
//   height: 1px;
//   background-color: black;
// }

// plus to mainasu

.accordion ul {
  width: 100%;
  padding: 0;
}
.accordion li {
  position: relative;
  border-bottom: 1px solid #ccc;
  list-style: none;
}
.accordion li:first-child {
  border-top: 1px solid #ccc;
}

.accordion > ul > li > a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  padding: 1.5em 1em;
  position: relative;
}
.accordion > ul > li > a h5:hover {
  color: #111;
  text-decoration: none;
}
.accordion > ul > li > p {
  display: none;
  text-align: left;
  padding: 0 0.8em 1.4em 1em;
  color: #555;
  line-height: 1.8;
}

.accordion li .accordion_icon,
.accordion li .accordion_icon span {
  display: inline-block;
  transition: all 0.3s;
  box-sizing: border-box;
}
.accordion li .accordion_icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 10px;
}
.accordion li .accordion_icon span {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.accordion li .accordion_icon span:nth-of-type(1) {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.accordion li .accordion_icon span:nth-of-type(2) {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.accordion li .accordion_icon.active span:nth-of-type(1) {
  display: none;
}
.accordion li .accordion_icon.active span:nth-of-type(2) {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

// .menupage_left-title {
//   position: relative;
//   left: 650px;
//   top: 70px;
//   color: black;
// }

.acd-check {
  display: none;
}
.acd-label {
  width: 50%;
  height: 66px;
  font-size: 40px;
  color: black;
  display: block;
  margin-bottom: 1px;
  padding: 10px;
}
.acd-content {
  height: 0;
  opacity: 0;
  padding: 0 10px;
  transition: 0.5s;
  visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content {
  opacity: 1;
  padding: 10px;
  visibility: visible;
}

.accordion-item {
  width: 100%;
  cursor: pointer;
}

.accordion-header {
  transition: ease-in-out 100ms;
}

.accordion-text {
  width: 100%;

  display: none;
  padding-top: 5px;
  padding-bottom: 20px;
}

.fa {
  transition: ease-in-out 300ms;
}

.rotate-fa {
  transform: rotate(180deg);
}

.accordion-header .fa {
  float: right;
  line-height: 35px;
}

.accordion-gold {
  color: #ddba4d;
}

.accordion-no-bar {
  border-bottom: 0;
}
.container {
  width: 50%;
  text-align: center;
}

/* ここから下がボタンのCSS　*/
.btn-border {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid black;
  font-size: 16px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: 0.4s;
}

.btn-border:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #fff;
}

.menulist_inner {
  padding: 0px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.accordion-wrap {
  width: 48%;
}

// .menulist {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }

.accordion_icon span {
  display: block;
  position: relative;
}

.about_us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

//Information
.Information {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 60px;
}
.imfo-text {
  margin: 20px 50px;
}

//footer

.footer-inner {
  margin: auto;
  width: 92%;
  height: 150px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 24px;
  margin-bottom: 28px;
}

// .footer-inner ul {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   margin-top: 100px;
// }
// .footer-inner li {
//   width: 35px;
//   height: 35px;
//   margin-right: 25px;
//   list-style: none;
// }

li {
  list-style: none;
}

#wrap {
  width: 900px;
  padding: 40px 40px;
  margin: auto;
}

.p-accordion {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.p-accordion__item {
  width: 48%;
}

.p-accordion__head {
  margin: auto;
}

.p-accordion__head a {
  display: block;
  color: black;
  text-decoration: none;
  position: relative;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.p-accordion__head a::before,
.p-accordion__head a::after {
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  margin: auto 0;
  transition: 0.2s;
}

.p-accordion__head a::before {
  transform: rotate(90deg);
}

.p-accordion__item[data-active] .p-accordion__head a::before {
  transform: rotate(270deg);
  opacity: 0;
}

.p-accordion__item[data-active] .p-accordion__head a::after {
  transform: rotate(180deg);
}

.p-accordion__content {
  margin-top: 8px;
}

//menulist

.menulist {
  padding: 0px 60px;
}
