@charset "UTF-8";
body {
  font-family: serif;
}

/* header*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 999;
  background: white;
}

.hidden {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-top: 30px;
}

.hidden a {
  color: black;
  border-left: solid 2px black;
  padding-left: 30px;
}

.hidden a:hover {
  color: #a5a5a5;
  text-decoration: inherit;
  cursor: pointer;
}

.Cafeppa_logo {
  width: 15%;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  list-style: none;
}

.icon:hover {
  opacity: 0.5;
  text-decoration: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav {
  height: 20px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 50px;
  margin: -20px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.first {
  position: absolute;
  left: 10px;
  top: 11px;
}

.secound {
  position: absolute;
  left: 245px;
  top: 35px;
}

.secound:hover {
  cursor: pointer;
}

.third {
  position: absolute;
  top: 35px;
  right: 40px;
}

.third:hover {
  cursor: pointer;
}

nav a {
  color: white;
  text-decoration: none;
}

nav li {
  display: inline;
  margin-right: 30px;
}

nav .here {
  color: black;
  padding: 5px 10px;
  border-radius: 4px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul:last-child {
  padding-left: 200px;
}

/* main */
/* menupage_bar */
.menupage_bar {
  margin: 200px 0px 47px 0px;
  color: #3c3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 33px;
}

.menupage_bar h2 {
  margin-top: 0px;
}

h2 {
  display: inline-block;
  position: relative;
}

h2:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  display: inline-block;
  width: 80px;
  height: 4px;
  border-radius: 5px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #3c3b3b;
}

/* main */
/* menupage_contents */
.menupage_contents {
  margin-left: auto;
  margin-bottom: 300px;
}

.menu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 5px;
}

.product-hot {
  color: red;
}

.product-ice {
  color: blue;
}

.menupage_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 18px;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.menupage_left {
  color: #212121;
  background-color: transparent;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 30;
  position: absolute;
  padding: 47px 0px;
}

@media (max-width: 1024px) {
  .menupage_left {
    width: 50%;
  }
}

.left-blank {
  width: 50%;
}

.menupage_right_img {
  padding: 47px 0px;
  z-index: 30;
  position: absolute;
  right: 270px;
}

.menupage_right_img img {
  width: 415px;
}

@media (max-width: 1024px) {
  .menupage_right_img {
    padding: 32px 0px;
    right: 139px;
  }
  .menupage_right_img img {
    width: 350px;
  }
}

.menupage_left-title {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 39px;
}

.menupage_left-text {
  font-size: 20px;
  line-height: 1.8;
  margin-top: -20px;
}

@media (max-width: 1024px) {
  .menupage_left-text {
    line-height: normal;
  }
}

.gray {
  width: 32%;
  height: 510px;
  background-color: #abaaa8;
  margin-left: auto;
  margin-right: 155px;
  position: relative;
}

@media (max-width: 1024px) {
  .gray {
    height: 435px;
    margin-right: 85px;
  }
}

a.cp_btn {
  position: relative;
  display: block;
  width: 160px;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: black;
  background: transparent;
  border: 1px solid black;
  overflow: hidden;
  margin-top: 20px;
}

a.cp_btn:hover {
  cursor: pointer;
}

a.cp_btn:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -170px;
  height: 100%;
  width: 100%;
  background: #799c94;
  opacity: 0.3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

a.cp_btn:hover:before {
  left: 0;
}

a.cp_btn_right:before {
  background: #abaaa8;
}

.controls {
  width: 100%;
  height: 267px;
  position: relative;
}

.controls_inner {
  padding: 0px 0px 20px;
}

.controls_inner_holder {
  width: 260px;
  height: 260px;
  background-color: white;
  background-image: url(https://static.pixlee.com/photos/299054731/medium/a587e354c11b3e3d308d.jpg);
  background-size: cover;
}

.controls-img {
  overflow: hidden;
  margin: 0 auto;
  width: calc(100% - 100px);
}

.controls_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.controls_inner-link {
  background-position: center;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  height: 300px;
  display: block;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  min-width: 300px;
}

.controls_inner-link img {
  width: 100%;
  height: 100%;
}

.img1 {
  overflow: hidden;
  position: relative;
  /* 相対位置指定 */
}

.img1 .caption {
  font-size: 15px;
  text-align: initial;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10px;
}

.img1 .caption img {
  position: absolute;
  /* 絶対位置指定 */
  top: 0;
  left: 0;
}

.caption p:last-child {
  margin-top: 90px;
}

.img1 .mask {
  width: 100%;
  position: absolute;
  /* 絶対位置指定 */
  top: 0;
  left: 0;
  opacity: 0;
  /* マスクを表示しない */
  background: #454545;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.img1:hover .mask {
  opacity: 1;
  /* マスクを表示する */
}

/* main */
/* top_foodmenu */
.top_foodmenu_inner {
  margin: 0px 30px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 300px;
}

.top_foodmenu_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 500px;
  position: relative;
}

.foodmenu_background {
  position: relative;
  width: 470px;
  height: 470px;
  background-color: #799c94;
}

@media (max-width: 1024px) {
  .foodmenu_background {
    width: 380px;
    height: 380px;
  }
}

.foodmenu_img {
  position: absolute;
  top: 50px;
  left: 200px;
}

@media (max-width: 1024px) {
  .foodmenu_img {
    top: 55px;
    left: 90px;
  }
  .foodmenu_img img {
    width: 95%;
  }
}

.top_foodmenu_right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 500px;
}

@media (max-width: 1024px) {
  .top_foodmenu_right {
    height: 455px;
  }
}

.menulist-img {
  width: 170px;
}

/* main */
/* menulist */
.p-accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.p-accordion__item {
  width: 48%;
}

.p-accordion__head {
  margin: auto;
}

.p-accordion__head a {
  display: block;
  color: black;
  text-decoration: none;
  position: relative;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.p-accordion__head a::before,
.p-accordion__head a::after {
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  margin: auto 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.p-accordion__head a::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.p-accordion__item[data-active] .p-accordion__head a::before {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  opacity: 0;
}

.p-accordion__item[data-active] .p-accordion__head a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.p-accordion__content {
  margin-top: 8px;
}

.container {
  width: 50%;
  text-align: center;
}

/* main */
/* about_us */
.about_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

/* main */
/* Information */
.Information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  margin-right: 60px;
}

@media (max-width: 1024px) {
  .Information {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.imfo-text {
  margin: 20px 50px;
}

@media (max-width: 1024px) {
  .imfo-text {
    margin: 20px 110px;
  }
}

@media (max-width: 1024px) {
  .map-pc {
    display: none;
  }
}

@media (min-width: 1024px) {
  .map-phone {
    display: none;
  }
}

a.cp_btn {
  position: relative;
  display: block;
  width: 160px;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: black;
  background: transparent;
  border: 1px solid black;
  overflow: hidden;
}

a.cp_btn:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -170px;
  height: 100%;
  width: 100%;
  background: #799c94;
  opacity: 0.3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

a.cp_btn:hover:before {
  left: 0;
}

a.cp_btn_right:before {
  background: #abaaa8;
}

/* main */
/* swiper-container */
.swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container {
  width: 90%;
  height: 300px;
}

.swiper-button-prev:before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
}

.swiper-button-prev:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 11px;
  left: 13px;
}

.swiper-button-next:before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  right: 1px;
  background-color: white;
}

.swiper-button-next:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 15px;
  right: 15px;
}

.test {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #454545;
}

.insta-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.insta-id p {
  margin: 0px;
  font-size: 25px;
}

/* footer */
.footer-inner {
  margin: auto;
  width: 92%;
  height: 150px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 24px;
  margin-bottom: 28px;
}
/*# sourceMappingURL=style.css.map */